@{
    ViewData["Title"] = "";
}

<div class="text-center">
    
</div>
<html>
    <head>
        <meta charset="utf-8"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
        var html = [];
            $.getJSON('https://cwstrgacct7.blob.core.windows.net/cwkakaoblob7/agencydb.json', function (data) {
                $.each(data, function (i,item) { // 업로드한 json 파일에서 총 8개의 자료를 불러온다.
                    html.push(Number(item.latitude)); // 위도: html[0]
                    html.push(Number(item.longitude)); // 경도: html[1]
                    html.push(item.address); // 주소: html[2]
                    html.push(item.phone_number); // 전화번호: html[3]
                    html.push(item.agency_name); // 기관명: html[4]
                    html.push(item.weekday_oph); // 평일 영업시간: html[5]
                    html.push(item.saturday_oph); // 토요일 영업시간: html[6]
                    html.push(item.holiday_oph); // 공휴일 영업시간: html[7]
                });
            });
    </script>
    </head>
    <body>
        <div id="map" style="width:100%;height:100vh;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ca3e382697d727fbee45c0906c22b0b1&libraries=clusterer"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new kakao.maps.LatLng(35.18372275855777, 129.07488466018773), // 지도의 중심좌표: 부산광역시청
                    level: 9 // 지도의 확대 레벨
                };
            // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 지도에 교통정보를 표시하도록 지도타입을 추가합니다
            map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);

            // 지도에 지형정보를 표시하도록 지도타입을 추가합니다
            map.addOverlayMapTypeId(kakao.maps.MapTypeId.TERRAIN);

            // 마커 클러스터러를 생성한다
            var clusterer = new kakao.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                minLevel: 10 // 클러스터 할 최소 지도 레벨
            });

            var markers = [];

            for(var i=0; i<html.length; i++){
                if(i%8==0){ // json 파일에서 불러올 8개의 항목들이 잘 추출되었다면 지도에 마커를 찍는다
                var markerPosition = new kakao.maps.LatLng(html[i], html[i+1]);

                // 마커를 생성한다
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });

                // 마커가 지도 위에 표시되도록 설정한다
                marker.setMap(map);
                var iwContent = (` 기관명: ` + html[i+4] + `\n 주소: ` + html[i+2] + `\n 전화번호: ` + html[i+3] + `\n 평일 영업시간: ` + html[i+5] + `\n 토요일 영업시간: ` + html[i+6] + `\n 공휴일 영업시간: ` + html[i+7]), // 인포윈도우에 표춛될 내용
                    iwPosition = new kakao.maps.LatLng(html[i], html[i+1]); // 인포윈도우 표시 위치

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    position: iwPosition,
                    content: iwContent
                    });
                markers.push(marker);            
                // 이벤트 리스너로는 클로저를 만들어 등록합니다 
                kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                }
            };

            // 클러스터러에 마커들을 추가합니다
            clusterer.addMarkers(markers);

            // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
            function makeOverListener(map, marker, infowindow) {
                return function () {
                    infowindow.open(map, marker);
                };
            }

            // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
            function makeOutListener(infowindow) {
                return function () {
                    infowindow.close();
                };
            }
        </script>
        <div>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </body>
</html>